<html>

<body>

<#if model.error.isPresent()>
    Пользователя с данным именем не существует</br>
</#if>

<form method="get" action="/participant/add_conversation">
    <input type="text" name="login" id="login" placeholder="participant"> </br>
</form>

</br>
<table>
    <#list model.conversations as conv>
        <tr>
        <a href="/participant/conversation/?id=${conv.id}">
            <#if conv.user1.id == model.user.id>
                ${conv.user2.user.login}
            <#else>
                ${conv.user1.user.login}
            </#if>
        </a>
        </tr>
    </#list>
</table>
</body>
</html>