<body>

<form method="post" action="/register">
    <input type="text" name="login" id="login" placeholder="login">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="email" name="email" id="email" placeholder="email">
    <input type="hidden" id="role" value="POTENTIAL_PARTICIPANT">
    <input type="submit">
</form>

<a href="/login">Sign in</a>
</body>